.ipynb_checkpoints/*
_DS_Store
sri_lanka/.ipynb_checkpoints/*
belize/.ipynb_checkpoints/*
_DS_Store
_ipynb
.DS_Store
belize/.DS_Store
belize/shapefiles/
sri_lanka/.DS_Store
sri_lanka/ghs/
sri_lanka/guf/
sri_lanka/shapefiles/
belize/.ipynb_checkpoints/blz_ghs_normalized-checkpoint.ipynb
belize/.ipynb_checkpoints/blz_guf_normalized-checkpoint.ipynb
sri_lanka/.ipynb_checkpoints/sri_ghs_normalized-checkpoint.ipynb
sri_lanka/.ipynb_checkpoints/sri_guf_normalized-checkpoint.ipynb
